<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/botones.css">
    <title>Botones</title>
  </head>
  <body>
    <div>
        <a href="#" class="btn">Boton Standard</a>
    </div>
    <div>
      <a href="#" class="btn small">Pequenio</a>
      <a href="#" class="btn medium azul">Mediano</a>
      <a href="#" class="btn big"><p class="parrafo">Grande</p></a>
      <a href="#" class="btn extra-big azul">Extra grande</a>
    </div>

  </body>
</html>
