<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/posicionamiento.css">
    <title>Posicinamiento Cajas</title>
  </head>
  <body>
    <div class="caja2">

    <div class="caja1 posicionada2">
      <input class="input" type="text" placeholder="NOMBRE">
      <input class="input" type="text" name="fv" value="fv">
      <br>
      <br>

    </div>
    <a href="#" class="btn extra-big azul">
      <label for="" class="parrafo">Ingresar</label></a>
    </div>
    <br><br>
    <div class="caja posicionada5">
      <input class="input" type="text" placeholder="NOMBRE">
      <input class="input" type="text" name="fv" value="fv">
     </div>
    <!--<div class="caja posicionada"> </div> -->


    </div><div class="caja3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>
  </body>
</html>
