<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Selectores avanzados</title>
    <link rel="stylesheet" href="css/selectoresAvanzados.css">
  </head>
  <body>
     <p>parrafo 1</p>
     <div>
       <article >
         <p>parrafo 2 dentro de div</p>
       </article>
     </div>

     <div>
       <p>parrafo 3</p>
     </div>

     <article>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
     </article>
  </body>
</html>
