<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/sombras.css">
    <title>Sombras</title>
  </head>
  <body>

  <nav class="caja">
      <h1 class="texto">Hola mundo</h1>
  </nav>
    <aside>
        <a href="something" class="btn">Another button</a>
   </aside>
   <div class="caja2">
     <input class="input" type="text" name="" value="" placeholder="Nombre">
     <input class="input" type="text" name="" value="">      
   </div>
   <div class="caja5">
     <a href="something" class="btn1 extra-big">Another button</a>
   </div>
    <div class="footer">@</div>
  </body>
</html>
