a {
  font-size: 20px;
  text-decoration: none;
  text-shadow: red;
}

a:hover {
  background: #000;
  border-radius: 10px
}

a:link{
  text-decoration: none;
  color: magenta
}

a:visited{
  text-decoration:underline;
  color: red;
}

a:active{
  text-decoration:underline;
  color:green
}
