.div-1 {
    background: url('../img/new.png') center center fixed;
    background-size: cover;
    height: 500px;
}

.contenedorImagen {
  background: url('../../../imagenes/new.png');
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  /*HERE CAN MODIFY POSITION ABOUT IMAGE*/
  background-attachment:fixed;
  background-position: center;

  background-color:
}

.parrafo {
  font-size: 50px;
  font-style:italic;
  color: black;
  justify-content: center;

}
