* {
  margin: 0;
  padding: 0;
}

body{
  background: #faf9f9;
}

.div-1{
    background: url('../img/new.png') no-repeat fixed center center;
    background-size: cover;
    height: 500px;
}

.footer{
  background-size: cover;
  height: 500px;
  background-attachment: scroll;

}


.parrafo {
  font-size: 50px;
  font-style:italic;
  color: black;
  justify-content: center;
  text-align: center;
  border-bottom: 15px

}
