.body {
  width: 500px;
  height: 500px;
  font-size: 40px;
}

/*EM REFER TO INHERITE FROM ITS FATHER ELEMENT CLOSER IN THIS
CASE INHERITED FROM BODY */
p {
  font-size:1em;
}

.padre {
  font-size: 50px

}

/*REM REFER TO INHERITE FROM THE SUPER FATHER
IN THIS CASE THE INHERITED IS FROM BODY*/
.hijo {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  background-color: #000;
  color: #fff

}
