 .body {
  width: 500px;
  height: 500px;
  font-size: 30px;
}

/*EM REFER TO INHERITE FROM ITS FATHER ELEMENT CLOSER IN THIS
CASE INHERITED FROM BODY */
p {
  font-size:1em;
}

.padre {
  width: 900%;
  height: 900%;
  font-size: 60px

}

/*REM REFER TO INHERITE FROM THE SUPER FATHER
IN THIS CASE THE INHERITED IS FROM BODY*/
.hijo {
  width: 100px;
  font-size: 0.83333333em;

}
